In [2]:
fruits = ["apple", "banana", "cherry", "melon", "berry"]

In [3]:
i = 0
for item in fruits:
    print(i, item)
    i += 1

0 apple
1 banana
2 cherry
3 melon
4 berry

In [4]:
for item in enumerate(fruits):
    print(item)

(0, 'apple')
(1, 'banana')
(2, 'cherry')
(3, 'melon')
(4, 'berry')

In [5]:
data = "[1, 2, 3, 4, 5]"
type(data)

str

In [6]:
data2 = eval(data)  # Converts string representation of list to actual list
type(data2)

list

In [7]:
nums = list(range(0,101))
nums[:10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
odds = list(filter(lambda x: x % 2 == 1, nums))
print(odds[30:])

[61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [9]:
a= IndexError()
isinstance(a, Exception)

True

In [10]:
list(map(len,fruits))
# map은 함수를 리스트나 튜플의 각 요소에 적용하여 새로운 리스트(혹은 튜플) 반환

[5, 6, 6, 5, 5]

In [14]:
fruits2 = fruits[1].lowercase()

AttributeError: 'str' object has no attribute 'lowercase'